In [19]:
import pandas as pd
import numpy as np
import scipy as sp

In [20]:
data = pd.read_csv('data/fj1.csv', dtype={"resolution": str, "gsubname2":str, "gname3":str, "gsubname3":str, "claimmode3_txt":str, "weaptype4_txt":str, "weapsubtype4_txt":str, "divert":str, "kidhijcountry":str})

In [21]:
data = data[['iyear','region','country_txt']]

In [22]:
data.head()

   iyear  region               country_txt
0   1998      11                   Burundi
1   1998       9                    Russia
2   1998       8            United Kingdom
3   1998      10                      Iraq
4   1998      10  West Bank and Gaza Strip

2015

In [43]:
data15 = data[data.iyear == 2015]

df15 = data15.groupby(by=['region'])['country_txt'].value_counts()

df15.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], ['Afghanistan', 'Albania', 'Algeria', 'Argentina', 'Armenia', 'Australia', 'Bahrain', 'Bangladesh', 'Bosnia-Herzegovina', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Djibouti', 'Ecuador', 'Egypt', 'Estonia', 'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany', 'Greece', 'Guinea', 'Hungary', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Japan', 'Jordan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Lesotho', 'Libya', 'Macedonia', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mexico', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'Niger', 'Nigeria', 'Pakistan', 'Paraguay', 'Peru', 'Philippines', 'Qatar', 'Russia', 'Saudi Arabia', 'Senegal', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Syria', 'Tajikistan', 'Tanzania', 'Thailand', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom', 'United States', 'Uzbekistan', 'Venezuela', 'West Bank and Gaza Strip', 'Yemen']],
           labels=[[0, 0, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11], [94, 59, 14, 88, 19, 69, 70, 9, 96, 3, 17, 25, 18, 44, 78, 71, 87, 63, 37, 55, 50, 0, 68, 36, 7, 64, 81, 56, 49, 85, 4, 31, 95, 93, 32, 30, 83, 33, 40, 29, 42, 23, 20, 65, 58, 80, 92, 73, 8, 1, 21, 54, 10, 27, 47, 35, 60, 39, 98, 26, 53, 84, 90, 97, 74, 41, 51, 6, 89, 2, 38, 45, 48, 61, 72, 67, 76, 82, 22, 57, 12, 13, 46, 79, 15, 66, 16, 86, 91, 62, 28, 11, 77, 43, 34, 75, 24, 52, 5]],
           names=['region', 'country_txt'])

2016

In [44]:
data16 = data[data.iyear == 2016]

df16 = data16.groupby(by=['region'])['country_txt'].value_counts()

df16.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belgium', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Cyprus', 'Czech Republic', 'Democratic Republic of the Congo', 'Denmark', 'Ecuador', 'Egypt', 'Ethiopia', 'Finland', 'France', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Guinea', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Libya', 'Madagascar', 'Malaysia', 'Maldives', 'Mali', 'Mexico', 'Moldova', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'New Zealand', 'Niger', 'Nigeria', 'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Republic of the Congo', 'Russia', 'Rwanda', 'Saudi Arabia', 'Sierra Leone', 'Slovak Republic', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom', 'United States', 'Uruguay', 'Venezuela', 'West Bank and Gaza Strip', 'Yemen']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11], [103, 17, 63, 38, 39, 73, 22, 20, 74, 105, 75, 4, 12, 27, 37, 104, 21, 49, 86, 94, 76, 97, 66, 42, 60, 56, 0, 41, 72, 10, 67, 61, 89, 32, 55, 51, 5, 8, 95, 102, 33, 35, 31, 91, 45, 47, 11, 68, 7, 30, 88, 23, 26, 92, 101, 79, 53, 1, 24, 77, 13, 40, 64, 83, 44, 99, 107, 93, 58, 28, 106, 81, 46, 57, 98, 43, 2, 50, 9, 54, 84, 71, 90, 25, 62, 15, 65, 52, 87, 16, 18, 85, 70, 78, 100, 29, 14, 19, 96, 3, 34, 36, 48, 59, 80, 82, 6, 69]],
           names=['region', 'country_txt'])

2017

In [45]:
data17 = data[data.iyear == 2017]

df17 = data17.groupby(by=['region'])['country_txt'].value_counts()

df17.index

MultiIndex(levels=[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], ['Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Belgium', 'Brazil', 'Burkina Faso', 'Burundi', 'Cameroon', 'Canada', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Czech Republic', 'Democratic Republic of the Congo', 'Djibouti', 'Dominican Republic', 'Ecuador', 'Egypt', 'Ethiopia', 'Finland', 'France', 'Gabon', 'Georgia', 'Germany', 'Greece', 'Honduras', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Ivory Coast', 'Jamaica', 'Jordan', 'Kenya', 'Kosovo', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Liberia', 'Libya', 'Macedonia', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mexico', 'Mozambique', 'Myanmar', 'Nepal', 'Netherlands', 'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Russia', 'Rwanda', 'Saudi Arabia', 'Serbia', 'Sierra Leone', 'Somalia', 'South Africa', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Sweden', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Kingdom', 'United States', 'Venezuela', 'Vietnam', 'West Bank and Gaza Strip', 'Yemen', 'Zambia', 'Zimbabwe']],
           labels=[[0, 0, 0, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11], [95, 59, 15, 43, 24, 34, 20, 96, 18, 69, 70, 4, 25, 11, 19, 86, 71, 89, 61, 36, 55, 97, 48, 0, 35, 67, 62, 9, 82, 56, 7, 47, 87, 31, 94, 33, 29, 32, 84, 39, 41, 81, 10, 58, 28, 6, 63, 66, 93, 73, 46, 21, 1, 49, 53, 72, 76, 38, 85, 99, 26, 52, 91, 98, 75, 40, 50, 8, 2, 37, 44, 90, 78, 65, 22, 57, 83, 45, 14, 80, 16, 12, 79, 27, 13, 42, 64, 92, 60, 3, 17, 88, 30, 77, 101, 74, 100, 23, 51, 54, 68, 5]],
           names=['region', 'country_txt'])

然后对labels计数，做成"地区蔓延.csv"