In [27]:
import pandas as pd
import numpy as np
import scipy as sp

In [28]:
data1 = pd.read_csv('data/fj1.csv', dtype={"resolution": str, "gsubname2":str, "gname3":str, "gsubname3":str, "claimmode3_txt":str, "weaptype4_txt":str, "weapsubtype4_txt":str, "divert":str, "kidhijcountry":str})

In [29]:
data1 = data1[['eventid','region','region_txt']]

In [30]:
data2 = pd.read_csv('data/pre1_3.csv')

In [31]:
data3 = pd.merge(data1,data2,on='eventid',how='left')

In [36]:
data3.to_csv("data/plot3_4_1.csv", index=False)

In [33]:
data3.head()

        eventid  region                  region_txt     faith  level_faith
0  199801010001      11          Sub-Saharan Africa  0.684538          2.0
1  199801010002       9              Eastern Europe  0.683472          2.0
2  199801010003       8              Western Europe  0.683414          2.0
3  199801020001      10  Middle East & North Africa  0.452612          3.0
4  199801020002      10  Middle East & North Africa  0.683299          2.0

In [34]:
df = data3.groupby(by=['region'])['level_faith'].mean()

In [35]:
out =pd.DataFrame({"region":df.index,"mean_level":df})

out.to_csv('data/plot3_4_2.csv', index=False)

输出后对表格加上对应的region_txt，得到plot3_4_3_for_map.csv

In [37]:
data = pd.read_csv('data/plot3_4_3_for_map.csv')

In [ ]:
gname_list = ['Islamic State of Iraq and the Levant (ISIL)', 'Taliban', 'Al-Shabaab', 'Boko Haram', 'Houthi extremists (Ansar Allah)']

gnamelist = pd.DataFrame({"gname":gname_list})

In [38]:
data

    region                   region_txt  mean_level
0        1                North America    4.557355
1        2  Central America & Caribbean    4.316327
2        3                South America    4.329455
3        4                    East Asia    4.407583
4        5               Southeast Asia    3.312648
5        6                   South Asia    1.304314
6        7                 Central Asia    4.361011
7        8               Western Europe    4.503495
8        9               Eastern Europe    4.310150
9       10   Middle East & North Africa    4.271085
10      11           Sub-Saharan Africa    1.297273
11      12        Australasia & Oceania    4.517647

画世界地图

In [39]:
from pyecharts import Map, Page, Style

由于我们的地图数据并不能很好的支持region_txt这种分类方法，所以得将地区转化为国家，然后把数据录进去..

In [ ]:
#SeAsia = Brunei, Cambodia, East Timor, Indonesia, Laos, Malaysia, Myanmar, Philippines, Singapore, Thailand, Vietnam
#value = 3.3

#SoAsia = Afghanistan, Bangladesh, Bhutan, India, Maldives, Nepal, Pakistan, Sri Lanka
#value = 1.3

#SSA = Angola, Benin, Botswana, Burkina Faso, Burundi, Cameroon, Cape Verde, Central African Republic, Chad, Comoros, Djibouti, Equatorial Guinea, Eritrea, Ethiopia, Gabon, Gambia, Ghana, Guinea, Guinea-Bissau, Ivory Coast, Kenya,Lesotho, Liberia, Madagascar, Malawi,Mali,Mauritania,Mauritius, Mozambique,Namibia,Niger, Nigeria,Rwanda,Senegal, Seychelles,Sierra Leone,Somalia,South Africa,South Sudan,Sudan,Swaziland,Tanzania,Togo,Uganda,Zambia,Zimbabwe
#value = 1.3

In [40]:
#value = [3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,3.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,1.3,4.4]
#attr= ["Brunei", "Cambodia", "East Timor", "Indonesia", "Laos, Malaysia", "Myanmar", "Philippines", "Singapore", "Thailand", "Vietnam", 
#      "Afghanistan", "Bangladesh", "Bhutan", "India", "Maldives", "Nepal", "Pakistan", "Sri Lanka", 
#       "Angola", "Benin", "Botswana", "Burkina Faso", "Burundi", "Cameroon", "Cape Verde", "Central African Republic", "Chad", "Comoros", "Djibouti", "Equatorial Guinea", "Eritrea", "Ethiopia", "Gabon", "Gambia", "Ghana", "Guinea", "Guinea-Bissau", "Ivory Coast", "Kenya,Lesotho", "Liberia", "Madagascar", "Malawi", "Mali", "Mauritania", "Mauritius", "Mozambique", "Namibia,Niger", "Nigeria", "Rwanda", "Senegal", "Seychelles", "Sierra Leone", "Somalia", "South Africa", "South Sudan", "Sudan", "Swaziland", "Tanzania", "Togo", "Uganda", "Zambia", "Zimbabwe", 
#       "Unknown Country"]

In [48]:
value = [1.3, 1.3, 1.3, 3.3,1.3, 1.3, 1.3,1.5,1.5,1.5,1.5,3.3,3.5, 2.9]
attr = ["Pakistan", "Afghanistan","Tajikistan","Bangladesh","Jordan", "Syria","Iraq","Nigeria","S.Sudan","Somalia","Uganda","MozamBique","Philippines","Colombia"]

In [50]:
chart = Map("级别分布", width=1200, height=600)
chart.add("", attr, value, maptype="world", is_visualmap=True,
          visual_range=[1,5], visual_range_color=['#d94e5d', '#eac763', '#ffffff'],
          is_map_symbol_show=False, visual_text_color='#000')

chart.render(path="data/级别分布.html")