In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('data/21out.csv')
data2 = pd.read_csv('data/out_2_1.csv')

In [3]:
data1.head()

        eventid    gname
0  201501010013  Unknown
1  201501010074  Unknown
2  201501020049  Unknown
3  201501020058  Unknown
4  201501020081  Unknown

In [4]:
data2.head()

        eventid                                        gname
0  201501010013  Islamic State of Iraq and the Levant (ISIL)
1  201501010074              Houthi extremists (Ansar Allah)
2  201501020049                                      Taliban
3  201501020058                                      Taliban
4  201501020081                                      Taliban

In [5]:
data1 = data1[data1.gname != 'Unknown']

data = pd.concat([data1,data2])

In [6]:
data.to_csv('data/out2_all.csv', index=False)