In [1]:
import pandas as pd
import numpy as np

In [2]:
data_in = pd.read_csv('data/fj1.csv', dtype={"resolution": str, "gsubname2":str, "gname3":str, "gsubname3":str, "claimmode3_txt":str, "weaptype4_txt":str, "weapsubtype4_txt":str, "divert":str, "kidhijcountry":str})

In [4]:
data = data_in['country_txt']

In [7]:
data = data.drop_duplicates()

In [8]:
data

0                          Burundi
1                           Russia
2                   United Kingdom
3                             Iraq
4         West Bank and Gaza Strip
5                        Macedonia
7                          Austria
8                           Guyana
9                           Rwanda
13                         Algeria
18                           Spain
19                           India
23                          Greece
25                        Pakistan
28                         Albania
38                        Bulgaria
41                         Lebanon
43                     Philippines
44                        Thailand
57                       Sri Lanka
72                   United States
84                           Japan
85                 Slovak Republic
87                            Chad
92                          France
94                        Colombia
102                        Georgia
105                      Indonesia
106                         Israel
110                           Peru
                    ...
8652                       Bolivia
8716                      Djibouti
9560                    Mauritania
10465                         Togo
10902                         Mali
10964          Trinidad and Tobago
11649                      Uruguay
12091                      Lesotho
12875                     Maldives
14452                       Bhutan
15059                        Benin
15222                        Libya
15472                         Cuba
16227               Western Sahara
16650                      Jamaica
17213                      Eritrea
17240                      Finland
18268                       Serbia
18689                      Romania
23276            Equatorial Guinea
30003         United Arab Emirates
36794                     Portugal
37926                  South Sudan
37996                      Iceland
53279                 Burkina Faso
54426           Dominican Republic
56063                      Bahamas
69439                        Ghana
72529                        Malta
108402                       Gabon
Name: country_txt, Length: 168, dtype: object

plot2

In [13]:
data2 = data_in[['eventid','iyear','targtype1','targtype2','targtype3']]

In [15]:
data2 = data2[data2.iyear >= 2015]

data2.head()

            eventid  iyear  targtype1  targtype2  targtype3
73687  201412030034   2015         14        NaN        NaN
74378  201412220095   2015         15        NaN        NaN
74730  201501010001   2015          8        NaN        NaN
74731  201501010002   2015         15        NaN        NaN
74732  201501010003   2015         17        NaN        NaN

In [16]:
data2[data2.targtype1 == 15].eventid.count()

935

In [20]:
c_list = [15]
count = 0
for c in c_list:
    count = count + data2[data2.targtype1 == c].eventid.count()+data2[data2.targtype2 == c].eventid.count()+data2[data2.targtype3 == c].eventid.count()

count

973

In [21]:
c_list = [2,3,4,7,22]
count = 0
for c in c_list:
    count = count + data2[data2.targtype1 == c].eventid.count()+data2[data2.targtype2 == c].eventid.count()+data2[data2.targtype3 == c].eventid.count()

count

18170

In [22]:
c_list = [1,14]
count = 0
for c in c_list:
    count = count + data2[data2.targtype1 == c].eventid.count()+data2[data2.targtype2 == c].eventid.count()+data2[data2.targtype3 == c].eventid.count()

count

16619

In [23]:
c_list = [5,6,9,10,11,12,13,16,19,21]
count = 0
for c in c_list:
    count = count + data2[data2.targtype1 == c].eventid.count()+data2[data2.targtype2 == c].eventid.count()+data2[data2.targtype3 == c].eventid.count()

count

2596

plot3

In [24]:
g = data_in['gname']

In [25]:
g = g.drop_duplicates()

In [26]:
g

0                                           Hutu extremists
1                                                   Unknown
2                           Loyalist Volunteer Forces (LVF)
5                              Kosovo Liberation Army (KLA)
15                  Continuity Irish Republican Army (CIRA)
18                      Basque Fatherland and Freedom (ETA)
23                             Fighting Guerrilla Formation
25                                        Lashkar-e-Jhangvi
26                                Armed Islamic Group (GIA)
35                              Algerian Islamic Extremists
39                                                   15-May
41                                                Hezbollah
43                              Alex Boncayao Brigade (ABB)
50                    Irish National Liberation Army (INLA)
57                  Liberation Tigers of Tamil Eelam (LTTE)
69                             Conscientious Arsonists (CA)
80                                              Army of God
84               Revolutionary Workers' Council (Kakurokyo)
86                  United Liberation Front of Assam (ULFA)
87                               Union of Democratic Forces
92                Corsican National Liberation Front (FLNC)
103                             Irish Republican Army (IRA)
105                                                  Ninjas
106                                  Palestinian Extremists
116           Pattani United Liberation Organization (PULO)
122                                                Al-Ummah
134                                       Shining Path (SL)
137       National Union for the Total Independence of A...
142                          Allied Democratic Forces (ADF)
143                                               Zviadists
                                ...
111260                             Christian State-Holy Rus
111315    The Defense Command of the French People and t...
111448                                      Ahneish Militia
111483            Anarchist Revolt Against Exiled Gendarmes
111500          Indigenous People's Front of Tripura (IPFT)
111518                                        Torpedy Group
111521       Liberation Front for English-speaking Cameroon
111523                                       The Nocturnals
111653                           Sinhale Jathika Balamuluwa
111839                             Anas al-Dabbashi Brigade
111938                          Ansar al-Sunna (Mozambique)
112012                              Mai Mai Malaika Militia
112218                            Pro-Government extremists
112274           Anarchist Collective of Kallithea-Moschato
112378                               Ansar al-Islam (Egypt)
112496                                  Feminist extremists
112568    Movement for the Restoration of the Independen...
112588                                      Sikh Extremists
112635             Arm na Poblachta' (Army of the Republic)
112680                                             Crypteia
112859                                   Hafeez Brohi Group
113126                                   Bachama extremists
113277                           Nepali Congress Party (NC)
113415                           Bedouin Israeli extremists
113521                                Ansar Ghazwat-ul-Hind
113733                        The Owners of the White Flags
113810          High Council for the Unity of Azawad (HCUA)
113845                                      Fatoni Warriors
113935                   Minorities of Metropolitan Attacks
113944                              Baloch Republican Party
Name: gname, Length: 1583, dtype: object